.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: .75rem 1.25rem;

  color: var(--text-title);
  border-radius: .5rem;

  position: relative;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease;
    z-index: -1;
  }

  &:hover::before {
    transform: scale(3);
  }
}

.btn-pink {
  background-color: var(--pink-dark);
  &::before {
    background-color: var(--pink-base);
  }
}

.btn-blue {
  background-color: var(--blue-dark);
  &::before {
    background-color: var(--blue-base);
  }
}

