*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* pink */
  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  /* blue */
  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  /* Shape */
  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  /* text */
  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;

  /* font */
  --ff-base: "Raleway", sans-serif;

  /* Title */
  --title-lg: bold 3rem/normal var(--ff-base);
  --title-md: bold 2.5rem/normal var(--ff-base);
  --title-sm: bold 2rem/normal var(--ff-base);
  --title-xs: bold 1rem/normal var(--ff-base);

  /* Subtitle */
  --subtitle: 500 2rem/200% var(--ff-base);

  /* Body */
  --body-lg: 400 1.25rem/140% var(--ff-base);
  --body-md: 400 1rem/140% var(--ff-base);
  --body-sm: 400 0.875rem/140% var(--ff-base);
  --body-xs: 400 0.75rem/140% var(--ff-base);

  /* Button */
  --button: bold 0.875rem/normal var(--ff-base);

  /* Link */
  --link: 500 0.875rem/normal var(--ff-base); 

  /* Tag */
  --tag: bold 0.625rem/normal var(--ff-base); 
}

html {
  color: var(--text-body);
  font: var(--body-md);
  letter-spacing: 0;
}

body {
  background-color: var(--shape-background);
  overflow-x: hidden;
  position: relative;

  & .bg-ellipses {
    z-index: -100;
    position: absolute;
    inset: 0;
    & .ellipse {
      position: absolute;
      background-color: var(--pink-low);
      border-radius: 50%;
    }

    & .ellipse:nth-child(1) {
      width: 491px;
      height: 491px;
      filter: blur(668px);
      right: -18%;
      top: 26%;
    }

    & .ellipse:nth-child(2) {
      width: 376px;
      height: 376px;
      filter: blur(508px);
      top: 20%;
      left: -16%;
    }

    & .ellipse:nth-child(3) {
      width: 538px;
      height: 538px;
      left: 12%;
      top: 35%;
      filter: blur(868px);
    }

    & .ellipse:nth-child(4) {
      width: 241px;
      height: 241px;
      right: -8%;
      top: 14%;
      filter: blur(468px);
    }

    & .ellipse:nth-child(5) {
      width: 930px;
      height: 930px;
      inset: 0;
      top: 64%;
      margin-inline: auto;
      filter: blur(400px);
    }


  }
}



a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-title);
}

@media (width < 80em) {
  :root {
    --title-lg: bold 1.75rem/normal var(--ff-base);
    --title-sm: bold 1.5rem/normal var(--ff-base);
    --body-lg: 400 0.875rem/140% var(--ff-base);
    --body-md: 400 .875rem/140% var(--ff-base);
    --subtitle: 400 1rem/140% var(--ff-base);
  }

  body {
    & .bg-ellipses {
      & .ellipse:nth-child(1) {
        width: 202px;
        height: 202px;
        right: -60%;
        top: 29%;
        filter: blur(276px);
      }

      & .ellipse:nth-child(2) {
        width: 155px;
        height: 155px;
        top: 22%;
        left: -60%;
        filter: blur(209px);
      }

      & .ellipse:nth-child(3) {
        width: 222px;
        height: 222px;
        left: 0;
        top: 37%;
        filter: blur(358px);
      }

      & .ellipse:nth-child(4) {
        width: 99px;
        height: 99px;
        right: -35%;
        top: 20%;
        filter: blur(193px);
      }

      & .ellipse:nth-child(5) {
        width: 298px;
        height: 298px;
        top: 75%;
        filter: blur(106px);
      }
    }

  }
}