.hero {
  position: relative;

  & div.container.hero-subtitle {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1.75rem;

    & div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: inherit;
      height: 100px;
      /* padding-inline: 1.75rem; */
      position: relative;

      & img[src*="ouija-planchette"] {
        width: 32px;
        height: 32px;
        transform: rotate(-30deg);
        position: absolute;
        left: 0;
        top: -10px;
      }

      & img[src*="crystal-ball"] {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(20deg);
      }
    }

    & img[src*="spellbook"] {
      width: 40px;
      height: 40px;
      margin-right: 3.375rem;
      margin-bottom: .5rem;
      transform: rotate(30deg);
    }

    & p.subtitle {
      text-align: center;

      & strong {
        color: var(--blue-light);
      }
    }
  }

  & div.bg-image {
    --height: 464px;
    background-image: url("../assets/images/hero-background.png");
    background-size: auto var(--height);
    background-position: top center;
    background-repeat: no-repeat;
    min-height: var(--height);

    & header.top {
      padding-top: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
    }

    & div.container.hero-tittle {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & h1, & p {
        text-align: center;
      }

      & p {
        font: var(--body-lg);
      }
    }
  }

  .blur-ellipses {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
  }

  & .ellipse {
    position: absolute;
    background-color: var(--pink-low);
    border-radius: 50%;
  }

  & .ellipse-1 {
    width: 99.6px;
    height: 99.6px;
    top: 60%;
    right: -30%;
    filter: blur(193px);
  }

  & .ellipse-2 {
    width: 202px;
    height: 202px;
    top: 80%;
    right: -55%;
    filter: blur(276px);
  }

  & .ellipse-3 {
    width: 222px;
    height: 222px;
    bottom: -60%;
    left: 0;
    filter: blur(358px);
  }

  & .ellipse-4 {
    width: 155px;
    height: 155px;
    top: 70%;
    left: -70%;
    filter: blur(209px);
  }
}

@media (width >= 80em) {
  .hero {
    & div.bg-image {
      --height: 830px;

      & header.top {
        padding-top: 3.5rem;
        padding-inline: 5rem;
        margin-bottom: 10.25rem;
      }

      & div.container.hero-tittle {
        width: 41rem;
        gap: 1rem;

        & p {
          padding-inline: 5rem;
        }
      }
    }

    & div.container.hero-subtitle {
      margin-top: 6rem;
      align-items: center;

      & div {
        margin-top: .5rem;
        position: initial;
        height: 200px;

        & img[src*="ouija-planchette"] {
          position: initial;
          width: 80px;
          height: 80px;
          transform: rotate(90deg);
        }

        & img[src*="crystal-ball"] {
          position: initial;
          width: 72px;
          height: 72px;
          transform: rotate(-20deg);
        }
      }

      & img[src*="spellbook"] {
        width: 88px;
        height: 88px;
        margin-bottom: .75rem;
        transform: rotate(30deg);
      }
    }

    & .ellipse-1 {
      width: 241px;
      height: 241px;
      top: 30%;
      right: -5%;
      filter: blur(468px);
    }

    & .ellipse-2 {
      width: 491px;
      height: 491px;
      top: 70%;
      right: -20%;
      filter: blur(668px);
    }

    & .ellipse-3 {
      width: 538px;
      height: 538px;
      bottom: -75%;
      left: 15%;
      filter: blur(868px);
    }

    & .ellipse-4 {
      width: 376px;
      height: 376px;
      bottom: 5%;
      left: -20%;
      filter: blur(508px);
    }
  }
}