.desktop-only {
  display: none;
}

.container {
  width: 20.9375rem;
  margin-inline: auto;
}

/* Classes utilitárias */
.title-lg {
  font: var(--title-lg);
  letter-spacing: 0%;
}

.title-md {
  font: var(--title-md);
  letter-spacing: 0%;
}

.title-sm {
  font: var(--title-sm);
  letter-spacing: 0%;
}

.title-xs {
  font: var(--title-xs);
  letter-spacing: 0%;
}

.subtitle {
  font: var(--subtitle);
  letter-spacing: 0%;
}

.body-lg {
  font: var(--body-lg);
  letter-spacing: 0%;
}

.body-md {
  font: var(--body-md);
  letter-spacing: 0%;
}

.body-sm {
  font: var(--body-sm);
  letter-spacing: 0%;
}

.body-xs {
  font: var(--body-xs);
  letter-spacing: 0%;
}

.button {
  font: var(--button);
  letter-spacing: 0%;
}

.link {
  font: var(--link);
  letter-spacing: 0%;
}

.tag {
  font: var(--tag);
  text-transform: uppercase;
  letter-spacing: 5%;
}

@media (width >= 80em) {
  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }

  .container {
    width: 70rem;
  }
}